---
name: Build Template

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: {{"${{matrix.system}}"}}
    strategy:
      matrix:
        system:
        {% for system in ci.systems %}
          - {{system}}
        {% endfor %}
        node-version:
        {% for version in ci.node_versions %}
          - {{version}}
        {% endfor %}

    env:
      PYTHON_VERSION: {{ci.python_version}}

    steps:
      - uses: actions/checkout@master
        with:
          submodules: recursive

      - name: node{{"${{matrix.node-version}}"}} setup
        uses: actions/setup-node@v3
        with:
          node-version: {{"${{matrix.node-version}}"}}

      - name: python{{ci.python_version}} setup
        uses: actions/setup-python@v2
        with:
          python-version: {{ci.python_version}}

      - name: install-mk
        run: |
          pip{{ci.python_version}} install vmklib

      - name: test
        run: |
          mk test yaml
