# typescript-package-template

![Build Status](https://github.com/vkottler/typescript-package-template/workflows/Build%20Template/badge.svg)

*This is a template intended to be used with
[Cookiecutter](https://github.com/cookiecutter/cookiecutter).*

# Usage

Invoke `cookiecutter` and fill out information about your project:

```
$ cookiecutter git@github.com:vkottler/typescript-package-template.git
name [Vaughn Kottler]: <Your Name>
project_name [package-name]: <your-project-name>
description: [Short project description.]: <Your project's description.>
...
```

## Structure

```
$ {{" ".join(tree["args"])}}

{{tree["stdout"]}}
```
